<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow-lg rounded-4">
        <div class="card-header bg-dark text-white text-center rounded-top-4">
          <h4 class="mb-0">Customer Profile</h4>
        </div>

        <div class="card-body p-4">

          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">Username</div>
            <div class="col-sm-8"><%= @customer.username %></div>
          </div>

          <hr>

          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">Email</div>
            <div class="col-sm-8"><%= @customer.email %></div>
          </div>

          <hr>

          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">Phone Number</div>
            <div class="col-sm-8"><%= @customer.phone_number %></div>
          </div>

          <hr>


          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">Address</div>
            <div class="col-sm-8"><%= @customer.address %></div>
          </div>

          <hr>

          <div class="row mb-3">
            <div class="col-sm-4 fw-bold">Account Number</div>
            <div class="col-sm-8 text-muted">
              **** **** **** <%= @customer.account_number.to_s.last(4) %>
            </div>
          </div>

        </div>

        <div class="card-footer text-center">
         
            <%= link_to "Edit Profile", edit_customer_registration_path, class: "btn btn-primary" %>
          <%= link_to "Back", root_path, class: "btn btn-outline-secondary ms-2" %>
        </div>

      </div>

    </div>
  </div>
</div>
